<main class="flex h-screen bg-[#F1F1F2]">
  <aside class="hidden sm:block">
    <app-side-bar></app-side-bar>
  </aside>
  <div class="flex-1 flex flex-col overflow-hidden">
    <header>
      <app-header></app-header>
    </header>
    <section class="flex-1 overflow-y-auto bg-[#F1F1F2] p-4 sm:p-6 relative">
      <article class="my-4">
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 mt-6">
          <app-stats-card [title]="item.title" [value]="item.value" [icon]="item.icon"
            *ngFor="let item of statsItem"></app-stats-card>
        </div>
      </article>
      <hr>
      <article>
        <div class="container mx-auto">
          <div class="p-8">
            <h2 class="text-3xl font-bold text-gray-800 mb-6">Top 5 Travel Agencies</h2>
            <div class="flex flex-col md:flex-row justify-end items-center mb-6">
              <select
                class="w-full md:w-auto px-4 py-2 rounded-lg border-gray-300 focus:border-blue-500 focus:ring focus:ring-blue-200 focus:ring-opacity-50 hover:cursor-pointer"
                [(ngModel)]="agencyFilter" (change)="onAgencyFilter()">
                <option value="top-rated">Top rated</option>
                <option value="new-agencies">New agencies</option>
                <option value="top-booked">Top booked</option>
              </select>
            </div>
            <div class="overflow-x-auto">
              <table class="w-full text-sm text-left text-gray-700">
                <thead class="text-xs uppercase header-gradient text-white">
                  <tr>
                    <th scope="col" class="px-6 py-3 uppercase" *ngFor="let item of headers">{{item.label}}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="bg-white border-b hover:bg-gray-50 transition duration-300 ease-in-out"
                    *ngFor="let agency of agencies; let i = index">
                    <td class="px-6 py-4 font-medium text-gray-900">{{i + 1}}</td>
                    <td class="px-6 py-4 font-semibold text-blue-600">{{agency.name}}</td>
                    <td class="px-6 py-4">
                      <ng-container *ngIf="agency.ratings.length; else noRating">
                        <div class="flex items-center">
                          <i class="fas fa-star text-yellow-400 mr-1"></i>
                          <span>{{agency.ratings[0].averageRating}}</span>
                        </div>
                      </ng-container>
                      <ng-template #noRating>
                        <div class="flex items-center">
                          <i class="fas fa-star text-yellow-400 mr-1"></i>
                          <span>{{agency.ratings.length}}</span>
                        </div>
                      </ng-template>
                    </td>
                    <td class="px-6 py-4">
                      <div class="flex items-center">
                        <i class="fas fa-map-marker-alt text-gray-400 mr-1"></i>
                        <span>{{agency.place}}</span>
                      </div>
                    </td>
                    <td class="px-6 py-4 font-semibold text-green-600">
                      <ng-container *ngIf="agency.bookings.length; else noBookings">
                        {{agency.bookings.length}}
                      </ng-container>
                      <ng-template #noBookings>
                        {{agency.bookings.length}}
                      </ng-template>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </article>
      <hr>
      <article class="font-sans">
        <div class="container mx-auto py-10">
          <div>
            <h2 class="text-3xl font-bold text-gray-800 mb-6">Top 5 Travel Packages</h2>

            <div class="flex flex-col md:flex-row justify-end items-center mb-6">
              <select
                class="w-full md:w-auto px-4 py-2 rounded-lg border-gray-300 focus:border-blue-500 focus:ring focus:ring-blue-200 focus:ring-opacity-50"
                [(ngModel)]="packageFilter" (change)="onPackageFilter()">
                <option value="top-rated">Top rated</option>
                <option value="top-booked">Top booked</option>

              </select>
            </div>

            <div class="overflow-x-auto">
              <table class="w-full text-sm text-left text-gray-700">
                <thead class="text-xs uppercase header-gradient-package text-white">
                  <tr>
                    <th scope="col" class="px-6 py-3 rounded-tl-lg">Rank</th>
                    <th scope="col" class="px-6 py-3">Package</th>
                    <th scope="col" class="px-6 py-3">Agency</th>
                    <th scope="col" class="px-6 py-3">Rating</th>
                    <th scope="col" class="px-6 py-3">Price Range</th>
                    <th scope="col" class="px-6 py-3">Duration</th>
                    <th scope="col" class="px-6 py-3">Popularity</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let package of packages; let i = index"
                    class="bg-white border-b hover:bg-gray-50 transition duration-300 ease-in-out">
                    <td class="px-6 py-4 font-medium text-gray-900">#{{ i + 1 }}</td>
                    <td class="px-6 py-4 font-semibold text-blue-600">{{ package.name }}</td>
                    <td class="px-6 py-4">{{ package.agency[0].name }}</td>
                    <td class="px-6 py-4">
                      <ng-container *ngIf="package.ratingAndReview.length; else noRating">
                        <div class="flex items-center">
                          <i class="fas fa-star text-yellow-400 mr-1"></i>
                          <span>{{package.ratingAndReview[0].averageRating}}</span>
                        </div>
                      </ng-container>
                      <ng-template #noRating>
                        <div class="flex items-center">
                          <i class="fas fa-star text-yellow-400 mr-1"></i>
                          <span>{{package.ratingAndReview.length}}</span>
                        </div>
                      </ng-template>
                    </td>
                    <td class="px-6 py-4 uppercase">
                      {{ package.categoryId[0].name }}
                    </td>
                    <td class="px-6 py-4">{{ package.days }} days</td>
                    <td class="px-6 py-4">
                      <div class="flex items-center">
                        <i class="fas fa-user text-gray-400 mr-1"></i>
                        <span>{{ package.bookings.length }} bookings</span>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </article>
    </section>
  </div>
</main>