<div class="min-h-screen flex flex-col justify-center items-center bg-gray-200">
    <div class="bg-gray-100 shadow-lg rounded-lg w-full max-w-md p-8 md:p-10">
        <div class="text-center mb-8">
            <h2 class="text-3xl font-extrabold text-gray-900">Enter New Password</h2>
            <p class="text-sm text-gray-600">Please enter a new password for your account.</p>
        </div>
        <form [formGroup]="newPasswordForm" (ngSubmit)="onSubmitNewPassword()">
            <div class="space-y-4">
                <div>
                    <label for="password" class="block text-sm font-medium text-gray-800">New Password</label>
                    <input id="password" name="password" type="password"
                        class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-gray-500 focus:border-gray-500 sm:text-sm"
                        formControlName="newPassword">
                    <small class="text-red-600 block"
                        *ngIf="newPasswordForm.get('newPassword')?.errors?.['required'] && newPasswordForm.get('newPassword')?.touched">
                        *Password is required
                    </small>
                    <small class="text-red-600 block"
                        *ngIf="newPasswordForm.get('newPassword')?.errors?.['minlength'] && newPasswordForm.get('newPassword')?.touched">*Password
                        must be at least 8 characters long
                    </small>
                    <small class="text-red-600 block"
                        *ngIf="newPasswordForm.get('newPassword')?.errors?.['upperCase'] && newPasswordForm.get('newPassword')?.touched">*Password
                        must contain at least one uppercase letter
                    </small>
                    <small class="text-red-600 block"
                        *ngIf="newPasswordForm.get('newPassword')?.errors?.['lowerCase'] && newPasswordForm.get('newPassword')?.touched">*Password
                        must contain at least one lowercase letter
                    </small>
                    <small class="text-red-600 block"
                        *ngIf="newPasswordForm.get('newPassword')?.errors?.['noDigit'] && newPasswordForm.get('newPassword')?.touched">*Password
                        must contain at least one digit
                    </small>
                    <small class="text-red-600 block"
                        *ngIf="newPasswordForm.get('newPassword')?.errors?.['specialChar'] && newPasswordForm.get('newPassword')?.touched">*Password
                        must contain at least one special character (&#64;, $, !, %, *, ?, &)
                    </small>
                    <small class="text-red-500"
                        *ngIf="newPasswordForm.get('newPassword')?.errors?.['minlength'] && newPasswordForm.get('newPassword')?.touched">
                        *Password must be at least 8 characters
                    </small>
                </div>

                <div>
                    <label for="confirmPassword" class="block text-sm font-medium text-gray-800">Confirm
                        Password</label>
                    <input id="confirmPassword" name="confirmPassword" type="password"
                        class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-gray-500 focus:border-gray-500 sm:text-sm"
                        formControlName="confirmPassword">
                    <small class="text-red-500"
                        *ngIf="newPasswordForm.get('confirmPassword')?.errors?.['required'] && newPasswordForm.get('confirmPassword')?.touched">
                        *Confirmation password is required
                    </small>
                    <small class="text-red-500"
                        *ngIf="newPasswordForm.get('confirmPassword')?.errors?.['mismatch'] && newPasswordForm.get('confirmPassword')?.touched">
                        *Passwords must match
                    </small>
                </div>
            </div>
            <div class="mt-6">
                <button
                    class="w-full flex justify-center py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-gray-600 hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500">
                    Update Password
                </button>
            </div>
            <div class="mt-4 text-center">
                <p class="text-sm text-gray-600">
                    Remembered your password? <a href="#" class="font-medium text-gray-600 hover:text-gray-500"
                        [routerLink]="[ '/login' ]"> Login </a>
                </p>
            </div>
        </form>
    </div>
</div>