<section *ngIf="!isConfirmed"
  class="flex justify-center items-center h-screen bg-gradient-to-b from-blue-100 via-white to-gray-50">
  <div
    class="bg-white p-10 rounded-3xl shadow-lg w-full max-w-lg text-center transform transition duration-300 ease-in-out hover:shadow-2xl">
    <div class="flex justify-center mb-6">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-20 w-20 text-green-500" fill="none" viewBox="0 0 24 24"
        stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
          d="M9 12l2 2 4-4m0 0l4 4M9 12l-4 4m4-4l4-4" />
      </svg>
    </div>
    <h2 class="text-4xl font-extrabold text-blue-600 mb-4">You're Almost There!</h2>
    <p class="text-lg text-gray-600 mb-8">
      Your agency registration was successful. We're reviewing your details, and you'll receive an email once the admin
      confirms your account.
    </p>
    <div class="bg-gray-50 border border-gray-200 rounded-lg p-4 mb-6">
      <p class="text-gray-500 font-semibold">Admin Confirmation Pending</p>
    </div>
    <p class="text-gray-500">
      Feel free to <a href="/contact" class="text-blue-500 font-medium hover:text-blue-400 transition">contact us</a>
      for further assistance.
    </p>
  </div>
</section>


<div class="flex h-screen bg-gray-100" *ngIf="isConfirmed">
  <app-side-bar></app-side-bar>
  <div class="flex-1 flex flex-col overflow-hidden">
    <app-header></app-header>
    <main class="flex-1 overflow-y-auto bg-gray-100 p-6 sm:p-4 relative">
      <app-search (searchUsersEvent)="onSearch($event)"></app-search>
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 mt-6">
        <app-stats-card title="Total Clients" value="156" icon="users"></app-stats-card>
        <app-stats-card title="Active Projects" value="23" icon="briefcase"></app-stats-card>
        <app-stats-card title="Revenue (MTD)" value="$45,678" icon="dollar-sign"></app-stats-card>
      </div>
      <div class="grid grid-cols-1 lg:grid-cols-2 gap-6 mt-6">
        <app-recent-booking></app-recent-booking>
        <app-new-categories></app-new-categories>
      </div>
    </main>
  </div>
</div>