<app-header-sidebar></app-header-sidebar>
<main class="bg-gray-100 min-h-screen p-4 md:p-8">
    <div class="max-w-6xl mx-auto">
        <h1 class="text-3xl font-bold text-gray-800 mb-6">Travel history</h1>
        <app-search class="mb-6"></app-search>
        <div class="space-y-6">
            <div *ngFor="let booking of travelHistory"
                class="bg-white rounded-lg shadow-md overflow-hidden transition-all duration-300 hover:shadow-lg">
                <div class="md:flex">
                    <div class="md:flex-shrink-0">
                        <img [src]="booking.package.images[0]" [alt]="booking.package.finalDestination"
                            class="h-48 w-full object-cover md:w-48">
                    </div>
                    <div class="p-6 md:flex-1 flex flex-col justify-between">
                        <div>
                            <div class="flex items-center text-sm">
                                <h2 class="text-xl font-semibold text-gray-800">{{booking.package.name}},
                                    {{booking.package.country}}</h2>
                                <ng-container *ngIf="booking.ratingAndReview.length;else notRating">
                                    <span
                                        class="bg-green-800 text-white p-1 m-2 rounded-md flex items-center">{{booking.ratingAndReview[0].averageRating
                                        | number:'1.1'}}
                                        <svg xmlns="http://www.w3.org/2000/svg" class="h-3 w-3 text-white ml-1"
                                            viewBox="0 0 20 20" fill="currentColor">
                                            <path
                                                d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z" />
                                        </svg>
                                    </span>
                                </ng-container>
                                <ng-template #notRating>
                                    <span class="bg-green-800 text-white p-1 m-2 rounded-md flex items-center">0.0
                                        <svg xmlns="http://www.w3.org/2000/svg" class="h-3 w-3 text-white ml-1"
                                            viewBox="0 0 20 20" fill="currentColor">
                                            <path
                                                d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z" />
                                        </svg>
                                    </span>

                                </ng-template>
                            </div>
                            <p class="text-gray-600 mb-4">{{booking.agency.name}}</p>
                            <div class="flex items-center space-x-4 text-sm text-gray-500 mb-4">
                                <div class="flex items-center">
                                    <i class="fas fa-user mr-2"></i>
                                    <span>{{booking.peoples.length}} Person(s)</span>
                                </div>
                                <div class="flex items-center">
                                    <i class="fas fa-calendar mr-2"></i>
                                    <span>{{booking.package.days}} Day(s)</span>
                                </div>
                                <div class="flex items-center">
                                    <i class="fas fa-clock mr-2"></i>
                                    <span>{{booking.end_date | date:'mediumDate'}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="flex items-center justify-between mt-4">
                            <div class="text-2xl font-bold text-indigo-600">{{booking.total_price | currency:'INR'}}
                            </div>
                            <button (click)="openFeedbackModal(booking)"
                                class="px-4 py-2 bg-gradient-to-r from-[#FF7D68] to-[#ff9670] text-white rounded-md transition-colors duration-300 hover:from-[#FF6B54] hover:to-[#FF855C]">
                                Feedback
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div *ngIf="travelHistory.length === 0" class="text-center py-12">
            <p class="text-xl text-gray-600">No bookings found. Time to plan your next adventure!</p>
        </div>

        <app-pagination [currentPage]="currentPage" [itemsPerPage]="limit" [totalItems]="totalPackages"
            [typeOfUser]="'user'" (pageChange)="onPageChange($event)" class="mt-8">
        </app-pagination>
    </div>
</main>

<app-feedback *ngIf="showFeedbackModal" [booking]="selectedBooking" (closeModal)="closeFeedbackModal()"
    (submitFeedbackEvent)="submitFeedback($event)">
</app-feedback>