<main class="flex justify-center items-center h-screen">
    <div class="bg-white p-8 rounded-xl shadow-lg w-full max-w-4xl" *ngIf="renderSignup">
        <h2 class="text-3xl font-extrabold mb-3 text-center text-gray-900">Register Your Account</h2>
        <p class="text-red-500 text-center mb-4 " *ngIf="isInvalidForm">Fill required inputes</p>
        <form (ngSubmit)="onSubmit()" [formGroup]="reactiveForm" class="space-y-6">
            <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
                <div>
                    <label for="userName" class="block text-sm font-semibold text-gray-700">Username</label>
                    <input id="userName" formControlName="userName" type="text"
                        class="form-input w-full p-3 rounded-md bg-gray-100 text-gray-900 focus:ring focus:ring-gray-500">
                    <small class="text-red-600 block"
                        *ngIf="reactiveForm.get('userName')?.errors?.['required'] && reactiveForm.get('userName')?.touched">
                        *Username is required
                    </small>
                    <small class="text-red-600 block"
                        *ngIf="reactiveForm.get('userName')?.errors?.['minlength'] && reactiveForm.get('userName')?.touched">
                        *Username must be at least 3 characters long
                    </small>
                </div>
                <div>
                    <label for="email" class="block text-sm font-semibold text-gray-700">Email</label>
                    <input id="email" formControlName="email" type="email"
                        class="form-input w-full p-3 rounded-md bg-gray-100 text-gray-900 focus:ring focus:ring-gray-500"
                        autocomplete="on">
                    <small class="text-red-600 block"
                        *ngIf="reactiveForm.get('email')?.errors?.['required'] && reactiveForm.get('email')?.touched">
                        *A valid email is required
                    </small>
                    <small class="text-red-600 block"
                        *ngIf="reactiveForm.get('email')?.errors?.['isExistingEmail'] && reactiveForm.get('email')?.invalid">
                        *Email already exist
                    </small>
                </div>
                <div>
                    <label for="phone" class="block text-sm font-semibold text-gray-700">Phone</label>
                    <input id="phone" formControlName="phone" type="tel"
                        class="form-input w-full p-3 rounded-md bg-gray-100 text-gray-900 focus:ring focus:ring-gray-500">
                    <small class="text-red-600 block"
                        *ngIf="reactiveForm.get('phone')?.errors?.['required'] && reactiveForm.get('phone')?.touched">
                        *Phone number is required
                    </small>
                    <small class="text-red-600 block"
                        *ngIf="reactiveForm.get('phone')?.errors?.['invalidPhone'] && reactiveForm.get('phone')?.touched">
                        *Enter a valid phone number
                    </small>
                </div>
            </div>
            <div>
                <label for="password" class="block text-sm font-semibold text-gray-700">Password</label>
                <input id="password" formControlName="password" type="password"
                    class="form-input w-full p-3 rounded-md bg-gray-100 text-gray-900 focus:ring focus:ring-gray-500">
                <small class="text-red-600 block"
                    *ngIf="reactiveForm.get('password')?.errors?.['required'] && reactiveForm.get('password')?.touched">
                    *Password is required
                </small>
                <small class="text-red-600 block"
                    *ngIf="reactiveForm.get('password')?.errors?.['minlength'] && reactiveForm.get('password')?.touched">*Password
                    must be at least 8 characters long
                </small>
                <small class="text-red-600 block"
                    *ngIf="reactiveForm.get('password')?.errors?.['upperCase'] && reactiveForm.get('password')?.touched">*Password
                    must contain at least one uppercase letter
                </small>
                <small class="text-red-600 block"
                    *ngIf="reactiveForm.get('password')?.errors?.['lowerCase'] && reactiveForm.get('password')?.touched">*Password
                    must contain at least one lowercase letter
                </small>
                <small class="text-red-600 block"
                    *ngIf="reactiveForm.get('password')?.errors?.['noDigit'] && reactiveForm.get('password')?.touched">*Password
                    must contain at least one digit
                </small>
                <small class="text-red-600 block"
                    *ngIf="reactiveForm.get('password')?.errors?.['specialChar'] && reactiveForm.get('password')?.touched">*Password
                    must contain at least one special character (&#64;, $, !, %, *, ?, &)
                </small>
            </div>
            <div>
                <label for="password" class="block text-sm font-semibold text-gray-700">Confirm Password</label>
                <input id="password" formControlName="confirmPassword" type="password"
                    class="form-input w-full p-3 rounded-md bg-gray-100 text-gray-900 focus:ring focus:ring-gray-500">
                <small class="text-red-600 block"
                    *ngIf="reactiveForm.get('confirmPassword')?.errors?.['required'] && reactiveForm.get('confirmPassword')?.touched">
                    *Password is required
                </small>
                <small class="text-red-600 block"
                    *ngIf="reactiveForm.get('confirmPassword')?.errors?.['passwordMismatch'] && reactiveForm.get('confirmPassword')?.touched">
                    *Password not match
                </small>
            </div>
            <div>
                <button type="submit"
                    class="w-full p-3 bg-gray-700 text-white rounded-lg hover:bg-gray-800 transition-colors">
                    Register
                </button>
            </div>
        </form>
    </div>
    <app-otp *ngIf="renderOtp$ | async"></app-otp>
</main>