:host {
    display: block;
  }
  /* Styling can be adjusted to suit your design needs */
/* nav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
   */
   .pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  
  button {
    padding: 5px 15px;
    background-color: #3D52A0;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  