<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
  <table class="w-full text-sm text-left rtl:text-right text-gray-700 bg-[#EDE8F5]">
    <thead class="text-xs uppercase bg-[#8697C4] text-gray-700">
      <tr>
        <th scope="col" class="px-6 py-3" *ngFor="let head of headers">
          {{ head.label }}
        </th>
        <th>View</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let cell of data" class="bg-[#EDE8F5] border-b border-gray-300 hover:bg-gray-100">
        <td class="px-6 py-4" *ngFor="let column of headers">
          <ng-container *ngIf="['isVerified', 'isActive', 'isConfirmed'].includes(column.key); else otherContents">
            <ng-container *ngIf="column.key === 'isVerified'">
              <span [ngClass]="cell['isVerified'] ? 'text-green-500': 'text-red-500'" class="text-center">
                {{ cell['isVerified'] ? 'Verified': 'Not Verified'}}
              </span>
            </ng-container>            
            <ng-container *ngIf="column.key === 'isActive'">
              <span [ngClass]="cell['isActive'] ? 'text-green-500': 'text-red-500'" class="text-center">
                {{ cell['isActive'] ? 'Active': 'Inactive'}}
              </span>
            </ng-container>            
            <ng-container *ngIf="column.key === 'isConfirmed'">
              <span [ngClass]="cell['isConfirmed'] ? 'text-green-500': 'text-red-500'" class="text-center">
                {{ cell['isConfirmed'] ? 'Confirmed': 'Not Confirmed'}}
              </span>
            </ng-container>            
            <ng-template #statusBlocked>Blocked</ng-template>
          </ng-container>

          <ng-template #otherContents>
            {{ cell[column.key] }}
          </ng-template>
        </td>
        <td class="text-green-500">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="3" stroke="currentColor"
            class="size-4 cursor-pointer" (click)="showSinglePersonDetails(cell)">
            <path stroke-linecap="round" stroke-linejoin="round"
              d="M13.5 6H5.25A2.25 2.25 0 0 0 3 8.25v10.5A2.25 2.25 0 0 0 5.25 21h10.5A2.25 2.25 0 0 0 18 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25" />
          </svg>
        </td>
      </tr>
    </tbody>
  </table>
</div>
