<div class="flex h-screen bg-gray-100">
    <app-side-bar></app-side-bar>
    <div class="flex-1 flex flex-col overflow-hidden">
        <app-header></app-header>
        <main class="flex-1 overflow-y-auto bg-gray-100 p-6 sm:p-4 relative">
            <div class="notification-container w-full max-w-5xl mx-auto bg-white shadow-lg rounded-lg p-6 mt-8">
                <div class="flex items-center justify-between mb-6">
                    <h2 class="text-2xl font-bold text-gray-800">Notifications</h2>
                    <button mat-icon-button aria-label="Mark all as read" class="text-indigo-600 hover:text-indigo-800"
                        (click)="markAllAsRead()" *ngIf="notifications.length">
                        <mat-icon>done_all</mat-icon>
                    </button>
                </div>

                <!-- Filter by Notification Type -->
                <div class="flex items-center space-x-3 mb-6">
                    <!-- <button class="px-4 py-2 text-sm rounded-full border border-gray-300 hover:bg-indigo-100 hover:text-indigo-600"
                        [ngClass]="{'bg-indigo-600 text-white': selectedFilter === 'all'}" (click)="filterNotifications('all')">
                        All
                    </button>
                    <button *ngFor="let type of notificationTypes"
                        class="px-4 py-2 text-sm rounded-full border border-gray-300 hover:bg-indigo-100 hover:text-indigo-600"
                        [ngClass]="{'bg-indigo-600 text-white': selectedFilter === type}" (click)="filterNotifications(type)">
                        {{ type | titlecase }}
                    </button> -->
                </div>

                <!-- Notification Items -->
                <div class="grid grid-cols-1 lg:grid-cols-2 gap-6">
                    <ng-container *ngIf="notifications.length; else noNotifications">
                        <div *ngFor="let notification of notifications"
                            class="p-4 border rounded-lg shadow hover:bg-gray-50 flex items-start space-x-4">
                            <div class="flex-shrink-0">
                                <mat-icon class="text-4xl" [ngClass]="{
                            'text-blue-500': notification.type === 'info',
                            'text-yellow-500': notification.type === 'alert',
                            'text-red-500': notification.type === 'error',
                            'text-green-500': notification.type === 'success'
                          }">
                                    {{ getIcon(notification.type) }}
                                </mat-icon>
                            </div>
                            <div class="flex-1">
                                <h3 class="text-lg font-bold text-gray-800">{{ notification.title }}</h3>
                                <p class="text-sm text-gray-600 mb-2">
                                    {{ notification.description }}
                                </p>
                                <span class="text-xs text-gray-400 block">{{ notification.createdAt | date: 'short'
                                    }}</span>
                            </div>
                            <button mat-icon-button aria-label="Mark as read"
                                class="text-gray-500 hover:text-indigo-600" *ngIf="!notification.is_read"
                                (click)="markAsRead(notification)">
                                <mat-icon>done</mat-icon>
                            </button>
                        </div>
                    </ng-container>
                    <ng-template #noNotifications>
                        <span class="text-center font-semibold text-md text-slate-500"> No available
                            notifications :)</span>
                    </ng-template>

                </div>
            </div>
        </main>
    </div>
</div>