<app-header></app-header>
<app-side-bar></app-side-bar>
<div class="wallet-container">
    <div class="half-rectangle"></div>
    <div class="main-rectangle">
        <div class="balance-section">
            <h2>Your Balance</h2>
            <p class="balance">{{ wallet?.balance | currency }}</p>
        </div>
        <div class="history-section">
            <h2>Transaction History</h2>
            <div class="transaction-list">
                <div class="transaction" *ngFor="let transaction of wallet?.history">
                    <div class="transaction-icon" [ngClass]="transaction.type.toLowerCase()">
                        <i class="fas" [ngClass]="transaction.type === 'credit' ? 'fa-arrow-up' : 'fa-arrow-down'"></i>
                    </div>
                    <div class="transaction-details">
                        <p class="transaction-description">{{ transaction.description }}</p>
                        <p class="transaction-date">{{ transaction.createdAt | date:'MMM d, y, h:mm a' }}</p>
                    </div>
                    <p class="transaction-amount" [ngClass]="transaction.type.toLowerCase()">
                        {{ transaction.type === 'credit' ? '+' : '-' }}{{ transaction.amount | currency }}
                    </p>
                </div>
            </div>
        </div>
        <p *ngIf="wallet?.history?.length == 0" class="text-center text-sm text-slate-700">No transaction :)</p>
    </div>
</div>