<main class="flex h-screen bg-[#F1F1F2]">
  <aside class="hidden sm:block">
    <app-side-bar></app-side-bar>
  </aside>
  <div class="flex-1 flex flex-col overflow-hidden">
    <header>
      <app-header></app-header>
    </header>
    <section class="flex-1 overflow-y-auto bg-[#F1F1F2] p-4 sm:p-6 relative">
      <div class="flex flex-col sm:flex-row justify-between items-center mb-4">
        <h2 class="text-2xl font-semibold text-[#3D52A0] mb-2 sm:mb-0">Coupons</h2>
        <button class="text-white font-bold py-2 px-4 rounded transition duration-300" (click)="onRenderCouponAddForm()"
          [ngClass]="renderCouponAddForm ? 'bg-red-500 hover:bg-red-600' : 'bg-[#3D52A0] hover:bg-[#7091E6]'">
          {{ renderCouponAddForm ? 'Cancel' : 'Add' }}
        </button>
      </div>
      <app-search *ngIf="renderCouponList"></app-search>
      <div class="relative overflow-x-auto sm:rounded-lg mt-6">
        <article *ngIf="renderCouponList">
          <table
            class="w-full text-sm text-left rtl:text-right text-gray-700 bg-[#EDE8F5] border border-gray-300 rounded-lg">
            <thead class="text-xs uppercase bg-[#8697C4] text-gray-700 border-b border-gray-300">
              <tr>
                <th scope="col" class="px-6 py-4 text-center font-semibold">Coupon Code</th>
                <th scope="col" class="px-6 py-4 text-center font-semibold">Description</th>
                <th scope="col" class="px-6 py-4 text-center font-semibold">Discount Type</th>
                <th scope="col" class="px-6 py-4 text-center font-semibold">Expiry Date</th>
                <th scope="col" class="px-6 py-4 text-center font-semibold">Status</th>
                <th scope="col" class="px-6 py-4 text-center font-semibold">Actions</th>
                <th scope="col" class="px-6 py-4 text-center font-semibold">View</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let coupon of coupons" class="bg-[#EDE8F5] hover:bg-[#d6d2e5]">
                <td class="px-6 py-2 text-center border-b border-gray-300 uppercase">{{ coupon.code }}</td>
                <td class="px-6 py-2 text-center border-b border-gray-300">{{ coupon.description }}</td>
                <td class="px-6 py-2 text-center border-b border-gray-300">{{ coupon.discount_type }}</td>
                <td class="px-6 py-2 text-center border-b border-gray-300">{{ coupon.expiry_date | date: 'shortDate' }}
                <td class="px-6 py-2 text-center border-b border-gray-300">
                  <small class="px-2 py-1 text-white font-semibold rounded-md"
                    [ngClass]="coupon.isActive? 'bg-green-400':'bg-red-400'">
                    {{ coupon.isActive ? 'Active' :'inactive' }}
                  </small>
                </td>
                <td class="px-6 py-2 text-center border-b border-gray-300">
                  <small
                    class="px-2 py-1 text-white font-semibold rounded-md cursor-pointer bg-gradient-to-r from-indigo-500 via-indigo-600 to-indigo-700"
                    (click)="onRenderCouponEditForm(coupon)">
                    Edit
                  </small>
                </td>
                <td class="px-6 py-2 text-center cursor-pointer text-green-500 border-b border-gray-300">
                  <button (click)="openModal(coupon)"
                    class="rounded-lg px-2 py-1 hover:shadow-lg hover:bg-gray-100 hover:opacity-50 hover:text-black">view
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </article>

        <article *ngIf="renderCouponAddForm" class="mt-6">
          <div class="mx-auto">
            <app-coupon-form [selectedCoupon]="selectedCoupon" (closeFormAfterAdditionOrEdit)="onRenderCouponList()"></app-coupon-form>
          </div>
        </article>

        <app-single-coupon [selectedCoupon]="selectedCouponForShow" [isModalOpen]="isModalOpen"
          (closeModalEvent)="closeModal()">
        </app-single-coupon>
      </div>

      <app-pagination [totalItems]="totalCoupons" [itemsPerPage]="limit" [currentPage]="currentPage"
        [typeOfUser]="'admin'" (pageChange)="onPageChange($event)">
      </app-pagination>
    </section>
  </div>
</main>