<main class="flex justify-center items-center h-screen">

    <div class="bg-[#2c2c2c] p-8 rounded-xl shadow-lg w-full max-w-4xl" *ngIf="renderSignupForm">
        <h2 class="text-3xl font-extrabold mb-3 text-center text-[#f5f5f5]">Register Your Account</h2>
        <p class="text-center text-red-500 mb-3" *ngIf="isInvalidForm">Fill required inputes</p>
        <form action="#" method="POST" class="space-y-6" [formGroup]="reactiveForm">

            <div class="grid grid-cols-1 md:grid-cols-2 gap-6">

                <div class="space-y-6">
                    <div>
                        <label for="agency_name" class="block text-sm font-semibold text-gray-300">Agency Name</label>
                        <input id="agency_name" name="agency_name" type="text"
                            class="form-input w-full p-3 rounded-md focus:ring focus:ring-gray-500"
                            formControlName="agencyName">
                        <small class="text-red-600 block"
                            *ngIf="reactiveForm.get('agencyName')?.errors?.['required'] && reactiveForm.get('agencyName')?.touched">*Agency
                            Name is required
                        </small>
                        <small class="text-red-600 block"
                            *ngIf="reactiveForm.get('agencyName')?.errors?.['invalidChar'] && reactiveForm.get('agencyName')?.touched">*Agency
                            name can only contain letters, numbers, spaces, hyphens (-), and apostrophes (')
                        </small>
                        <small class="text-red-600 block"
                            *ngIf="reactiveForm.get('agencyName')?.errors?.['letterOrNumber'] && reactiveForm.get('agencyName')?.touched">*Agency
                            name must start with a letter or number
                        </small>
                        <small class="text-red-600 block"
                            *ngIf="reactiveForm.get('agencyName')?.errors?.['endWithSpace'] && reactiveForm.get('agencyName')?.touched">*Agency
                            name cannot end with spaces.
                        </small>
                        <small class="text-red-600 block"
                            *ngIf="reactiveForm.get('agencyName')?.errors?.['minlength'] && reactiveForm.get('agencyName')?.touched">*Agency
                            name need at least 6 characters
                        </small>
                        <small class="text-red-600 block"
                            *ngIf="reactiveForm.get('agencyName')?.errors?.['isExistingName'] && reactiveForm.get('agencyName')?.invalid &&reactiveForm.get('agencyName')?.touched">*Agency
                            name in use
                        </small>
                    </div>

                    <div>
                        <label for="email" class="block text-sm font-semibold text-gray-300">Email</label>
                        <input id="email" name="email" type="email"
                            class="form-input w-full p-3 rounded-md focus:ring focus:ring-gray-500"
                            formControlName="email" autocomplete="on">
                        <small class="text-red-600"
                            *ngIf="reactiveForm.get('email')?.errors?.['required'] && reactiveForm.get('email')?.touched">*A
                            valid
                            email is required
                        </small>
                        <small class="text-red-600"
                            *ngIf="reactiveForm.get('email')?.errors?.['isExistingEmail'] && reactiveForm.get('email')?.invalid">*Email
                            in use
                        </small>
                    </div>

                    <div>
                        <label for="place" class="block text-sm font-semibold text-gray-300">Place</label>
                        <input id="place" name="place" type="text"
                            class="form-input w-full p-3 rounded-md focus:ring focus:ring-gray-500"
                            formControlName="place">
                        <small class="text-red-600 block"
                            *ngIf="reactiveForm.get('place')?.errors?.['required'] && reactiveForm.get('place')?.touched">*Place
                            is
                            required
                        </small>
                        <small class="text-red-600 block"
                            *ngIf="reactiveForm.get('place')?.errors?.['minlength'] && reactiveForm.get('place')?.touched">*Place
                            need at least 6 characters
                        </small>
                        <small class="text-red-600 block"
                            *ngIf="reactiveForm.get('place')?.errors?.['invalidPlace'] && reactiveForm.get('place')?.touched">*Enter
                            a valid place
                        </small>
                    </div>
                </div>

                <div class="space-y-6">
                    <div>
                        <label for="password" class="block text-sm font-semibold text-gray-300">Password</label>
                        <input id="password" name="password" type="password"
                            class="form-input w-full p-3 rounded-md focus:ring focus:ring-gray-500"
                            formControlName="password">
                        <small class="text-red-600 block"
                            *ngIf="reactiveForm.get('password')?.errors?.['required'] && reactiveForm.get('password')?.touched">*Password
                            is required
                        </small>
                        <small class="text-red-600 block"
                            *ngIf="reactiveForm.get('password')?.errors?.['minlength'] && reactiveForm.get('password')?.touched">*Password
                            must be at least 8 characters long
                        </small>
                        <small class="text-red-600 block"
                            *ngIf="reactiveForm.get('password')?.errors?.['upperCase'] && reactiveForm.get('password')?.touched">*Password
                            must contain at least one uppercase letter
                        </small>
                        <small class="text-red-600 block"
                            *ngIf="reactiveForm.get('password')?.errors?.['lowerCase'] && reactiveForm.get('password')?.touched">*Password
                            must contain at least one lowercase letter
                        </small>
                        <small class="text-red-600 block"
                            *ngIf="reactiveForm.get('password')?.errors?.['noDigit'] && reactiveForm.get('password')?.touched">*Password
                            must contain at least one digit
                        </small>
                        <small class="text-red-600 block"
                            *ngIf="reactiveForm.get('password')?.errors?.['specialChar'] && reactiveForm.get('password')?.touched">*Password
                            must contain at least one special character (&#64;, $, !, %, *, ?, &)
                        </small>
                    </div>

                    <div>
                        <label for="confirm_password" class="block text-sm font-semibold text-gray-300">Confirm
                            Password</label>
                        <input id="confirm_password" name="confirm_password" type="password"
                            class="form-input w-full p-3 rounded-md focus:ring focus:ring-gray-500"
                            formControlName="confirmPassword">
                        <small class="text-red-600 block"
                            *ngIf="reactiveForm.get('confirmPassword')?.errors?.['required'] && reactiveForm.get('confirmPassword')?.touched">
                            *Confirm password is required
                        </small>
                        <small class="text-red-600 block"
                            *ngIf="reactiveForm.get('confirmPassword')?.errors?.['passwordMismatch'] && reactiveForm.get('confirmPassword')?.touched">
                            *Passwords do not match
                        </small>
                    </div>
                    <div>
                        <label for="phone" class="block text-sm font-semibold text-gray-300">Phone</label>
                        <input id="phone" name="phone" type="tel"
                            class="form-input w-full p-3 rounded-md focus:ring focus:ring-gray-500"
                            formControlName="phone">
                        <small class="text-red-600"
                            *ngIf="reactiveForm.get('phone')?.errors?.['required'] && reactiveForm.get('phone')?.touched">*Phone
                            number is required
                        </small>
                        <small class="text-red-600"
                            *ngIf="reactiveForm.get('phone')?.errors?.['invalidPhone'] && reactiveForm.get('phone')?.touched">*Please
                            enter a valid phone number
                        </small>
                    </div>

                </div>
            </div>
            <div>
                <label for="document" class="block text-sm font-semibold text-gray-300">Document :</label>
                <div class="file-upload flex items-center justify-center">
                    {{ filename || 'No file uploaded yet.'}}
                    <input id="document" name="document" class="w-1/12" type="file" formControlName="document"
                        accept=".pdf" (change)="onFileChange($event)" #fileUpload>
                    <button mat-mini-fab color="primary" class="ml-2" (click)="fileUpload.value=''; fileUpload.click()">
                        <mat-icon>attach_file</mat-icon>
                    </button>
                </div>
                <small class="text-red-600 block text-center" *ngIf=" invalidFile">
                    *Please upload a valid PDF file
                </small>
            </div>
            <button type="submit" (click)="onFormSubmitted()"
                class="w-full bg-teal-600 text-white py-3 px-6 rounded-md text-lg font-bold hover:bg-teal-700 transition duration-300 shadow-md focus:outline-none focus:ring-2 focus:ring-teal-500 focus:ring-opacity-50">
                Register
            </button>
            <p class="mt-6 text-center text-sm text-gray-400">
                Have an account? <a href="/" class="text-teal-500 hover:text-teal-400">Login</a>
            </p>
        </form>
    </div>
    <app-otp *ngIf="renderOtpForm$ | async"></app-otp>
</main>