<app-header></app-header>
<app-side-bar></app-side-bar>
<div class="bookings-container">
    <app-search></app-search>
    <div class="booking-card" *ngFor="let booking of bookings">
        <div class="booking-image">
            <img [src]="booking.package.images[0]" [alt]="booking.package.finalDestination" class="rounded-lg">
        </div>
        <div class="booking-content">
            <div class="booking-header">
                <h2>{{booking.package.name}}, {{booking.package.country}}</h2>
                <div class="booking-info">
                    <div class="info-row">
                        <span class="label">Agency :</span>
                        <span class="value">{{booking.agency.name}}</span>
                    </div>
                    <div class="info-row">
                        <span class="label">Package :</span>
                        <span class="value">{{booking.category.name}}</span>
                    </div>
                </div>
                <div class="booking-meta">
                    <div class="meta-item">
                        <i class="fas fa-user"></i>
                        <span>{{booking.peoples.length}} Person</span>
                    </div>
                    <div class="meta-item">
                        <i class="fas fa-calendar"></i>
                        <span>{{booking.package.days}} Day(s)</span>
                    </div>
                    <div class="meta-item">
                        <span class="date-label">Date :</span>
                        <span>{{booking.start_date |date: 'mediumDate'}}</span>
                    </div>
                </div>
            </div>
            <div class="booking-footer">
                <div class="price">{{booking.total_price| currency:'INR'}}</div>
                <button class="details-button" (click)="viewDetails(booking._id)">Details</button>
            </div>
        </div>
    </div>
    <hr class="mb-3">   
    <app-pagination [currentPage]="currenPage"  [itemsPerPage]="limit" [totalItems]="totalPackages"
        [typeOfUser]="'user'" (pageChange)="onPageChange($event)"></app-pagination>
    <div class="booking-content">
        <div>
            <hr class="mb-3">
            <p class="text-center text-sm text-slate-700" *ngIf="bookings.length == 0">No booking :)</p>
        </div>
    </div>
</div>