<app-header-sidebar></app-header-sidebar>
<div class="bg-gray-100 min-h-screen font-sans">
    <main class="container mx-auto px-4 py-8">
        <h1 class="text-5xl font-bold mb-8 text-[#656262] text-center">Embark on Your Dream Journey</h1>

        <form [formGroup]="bookingForm" (ngSubmit)="onSubmit()" class="space-y-8">
            <div class="bg-white p-8 rounded-lg shadow-lg transition-shadow duration-300 hover:shadow-xl">
                <h2 class="text-3xl font-semibold mb-6 text-[#656262]">Trip Details</h2>
                <div class="grid grid-cols-1 sm:grid-cols-2 gap-6">
                    <div>
                        <label for="travelDates" class="block text-base font-medium text-gray-700 mb-2">Travel
                            Dates</label>
                        <div class="relative">
                            <input type="date" id="travelDates" formControlName="travelDates"
                                class="w-full rounded-md border border-gray-300 focus:ring-2 focus:ring-indigo-600 focus:border-indigo-600 py-2 px-3 appearance-none" />
                            <div class="error-message text-red-700"
                                *ngIf="bookingForm.get('travelDates')?.touched && bookingForm.get('travelDates')?.invalid">
                                <small class="text-xs" *ngIf="bookingForm.get('travelDates')?.errors?.['required']">Date
                                    is required*
                                </small>
                                <small class="text-xs" *ngIf="bookingForm.get('travelDates')?.errors?.['invalidDate']">
                                    Date must be a future date*
                                </small>
                            </div>
                        </div>
                    </div>
                    <div>
                        <label for="person" class="block text-base font-medium text-gray-700 mb-2">Person(s)</label>
                        <input type="text" id="person" formControlName="person" min="1" max="15"
                            class="w-full rounded-md border border-gray-300 focus:ring-2 focus:ring-indigo-600 focus:border-indigo-600 py-2 px-3"
                            placeholder="Enter number of persons" />
                        <div class="error-message text-red-700"
                            *ngIf="bookingForm.get('person')?.touched && bookingForm.get('person')?.invalid">
                            <small class="text-xs" *ngIf="bookingForm.get('person')?.errors?.['required']">Number of
                                people is required*
                            </small>
                            <small class="text-xs" *ngIf="bookingForm.get('person')?.errors?.['max']">Number of
                                people must less than {{packageDetails.people}}*
                            </small>
                            <small class="text-xs" *ngIf="bookingForm.get('person')?.errors?.['min']">Number of
                                people must a positive number*
                            </small>
                            <small class="text-xs" *ngIf="bookingForm.get('person')?.errors?.['pattern']">Please enter a
                                valid number*
                            </small>
                        </div>
                    </div>
                </div>
            </div>

            <div class="grid grid-cols-1 lg:grid-cols-2 gap-8">
                <div class="space-y-8">
                    <div class="bg-white p-6 rounded-lg shadow-lg">
                        <h2 class="text-2xl font-semibold mb-4 text-[#656262]">Personal Information</h2>
                        <div class="grid grid-cols-2 gap-4">
                            <div>
                                <label for="firstName" class="block text-sm font-medium text-gray-700 mb-1">First
                                    Name</label>
                                <input type="text" id="firstName" formControlName="firstName"
                                    placeholder="Your First Name"
                                    class="w-full px-3 py-2 border border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
                                <div class="error-message text-red-700"
                                    *ngIf="bookingForm.get('firstName')?.touched && bookingForm.get('firstName')?.invalid">
                                    <small class="block"
                                        *ngIf="bookingForm.get('firstName')?.errors?.['required']">First
                                        name is
                                        required*
                                    </small>
                                    <small class="block"
                                        *ngIf="bookingForm.get('firstName')?.errors?.['endWithSpace']">First name cannot
                                        end with spaces*
                                    </small>
                                    <small class="block"
                                        *ngIf="bookingForm.get('firstName')?.errors?.['letterOrNumber']">Last name must
                                        start with a letter or number*
                                    </small>
                                    <small class="block"
                                        *ngIf="bookingForm.get('firstName')?.errors?.['invalidChar']">First name can
                                        only contain letters, numbers, spaces, hyphens (-), and apostrophes (')*
                                    </small>
                                    <small *ngIf="bookingForm.get('firstName')?.errors?.['maxlength']">Full Name must be
                                        at less than 20 characters.</small>
                                </div>
                            </div>
                            <div>
                                <label for="lastName" class="block text-sm font-medium text-gray-700 mb-1">Last
                                    Name</label>
                                <input type="text" id="lastName" formControlName="lastName" placeholder="Your Last Name"
                                    class="w-full px-3 py-2 border border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
                                <div class="error-message text-red-700"
                                    *ngIf="bookingForm.get('lastName')?.touched && bookingForm.get('lastName')?.invalid">
                                    <small class="block" *ngIf="bookingForm.get('lastName')?.errors?.['required']">Last
                                        name is
                                        required*
                                    </small>
                                    <small class="block"
                                        *ngIf="bookingForm.get('lastName')?.errors?.['endWithSpace']">Last name cannot
                                        end with spaces*
                                    </small>
                                    <small class="block"
                                        *ngIf="bookingForm.get('lastName')?.errors?.['letterOrNumber']">Last name must
                                        start with a letter or number*
                                    </small>
                                    <small class="block"
                                        *ngIf="bookingForm.get('lastName')?.errors?.['invalidChar']">Last name can only
                                        contain letters, numbers, spaces, hyphens (-), and apostrophes (')*
                                    </small>
                                    <small *ngIf="bookingForm.get('lastName')?.errors?.['maxlength']">Full Name must be
                                        at less than 20 characters.</small>
                                </div>
                            </div>
                        </div>
                        <div class="mt-4">
                            <label for="email" class="block text-sm font-medium text-gray-700 mb-1">Email
                                Address</label>
                            <input type="email" id="email" formControlName="email" placeholder="your.email@example.com"
                                class="w-full px-3 py-2 border border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
                            <div class="error-message text-red-700"
                                *ngIf="bookingForm.get('email')?.touched && bookingForm.get('email')?.invalid">
                                <small class="block" *ngIf="bookingForm.get('email')?.errors?.['required']">Email is
                                    required*
                                </small>
                                <small class="block" *ngIf="bookingForm.get('email')?.errors?.['email']">Invalid email
                                    format*
                                </small>
                            </div>
                        </div>
                        <div class="mt-4">
                            <label for="phone" class="block text-sm font-medium text-gray-700 mb-1">Phone Number</label>
                            <div>
                                <input type="tel" id="phone" formControlName="phone" placeholder="Your Phone Number"
                                    class="flex-1 px-3 py-2 border border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
                                <div class="error-message text-red-700"
                                    *ngIf="bookingForm.get('phone')?.touched && bookingForm.get('phone')?.invalid">
                                    <small class="block" *ngIf="bookingForm.get('phone')?.errors?.['required']">Email is
                                        required*
                                    </small>
                                    <small class="block"
                                        *ngIf="bookingForm.get('phone')?.errors?.['invalidPhone']">Invalid phone number*
                                    </small>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="bg-white p-6 rounded-lg shadow-lg">
                        <h2 class="text-2xl font-semibold mb-4 text-[#656262]">Traveler Details</h2>
                        <ng-container *ngIf="travelers.controls.length <= people; else exceedCountTemplate">
                            <div formArrayName="travelers" class="space-y-4">
                                <div *ngFor="let traveler of travelers.controls; let i = index" [formGroupName]="i"
                                    class="p-4 border border-gray-200 rounded-md">
                                    <h3 class="text-lg font-medium mb-2">Traveler {{i + 1}}</h3>
                                    <div class="grid grid-cols-2 gap-4">
                                        <div>
                                            <label [for]="'travelerName' + i"
                                                class="block text-sm font-medium text-gray-700 mb-1">Full Name</label>
                                            <input [id]="'travelerName' + i" type="text" formControlName="name"
                                                placeholder="Traveler's Full Name"
                                                class="w-full px-3 py-2 border border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
                                            <div *ngIf="traveler.get('name')?.invalid && (traveler.get('name')?.touched || traveler.get('name')?.dirty)"
                                                class="text-red-500 text-sm mt-1">
                                                <small *ngIf="traveler.get('name')?.errors?.['required']">Full Name is
                                                    required.</small>
                                                <small *ngIf="traveler.get('name')?.errors?.['minlength']">Full Name
                                                    must be
                                                    at least 2 characters.</small>
                                                <small *ngIf="traveler.get('name')?.errors?.['maxlength']">Full Name
                                                    must be
                                                    at less than 20 characters.</small>
                                            </div>
                                        </div>
                                        <div>
                                            <label [for]="'travelerAge' + i"
                                                class="block text-sm font-medium text-gray-700 mb-1">Age</label>
                                            <input [id]="'travelerAge' + i" type="number" formControlName="age"
                                                placeholder="Traveler's Age"
                                                class="w-full px-3 py-2 border border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
                                            <div *ngIf="traveler.get('age')?.invalid && (traveler.get('age')?.touched || traveler.get('age')?.dirty)"
                                                class="text-red-500 text-sm mt-1">
                                                <small *ngIf="traveler.get('age')?.errors?.['required']">Age is
                                                    required.</small>
                                                <small *ngIf="traveler.get('age')?.errors?.['min']">Age must be at least
                                                    1.</small>
                                                <small *ngIf="traveler.get('age')?.errors?.['max']">Age must be less
                                                    than
                                                    120.</small>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </ng-container>
                        <ng-template #exceedCountTemplate>
                            <p class="text-center text-sm font-semibold text-slate-300"> Max person(s) is
                                {{packageDetails.people}}</p>
                        </ng-template>


                        <!-- <button type="button" (click)="addTraveler()"
                            class="mt-4 bg-[#FF7D68] text-white py-2 font-semibold px-4 rounded-md hover:bg-[rgb(255,100,77)] transition duration-300">Add
                            Traveler
                        </button> -->
                    </div>
                </div>

                <div class="space-y-8">
                    <div class="bg-white p-6 rounded-lg shadow-lg">
                        <h2 class="text-2xl font-semibold mb-4 text-[#656262]">Package Details</h2>
                        <div class="relative">
                            <img [src]="packageDetails.images[0]" [alt]="packageDetails.images[0]   "
                                class="w-full h-48 object-cover rounded-lg">
                            <div class="absolute inset-0 bg-black bg-opacity-40 flex items-center justify-center">
                                <h3 class="text-3xl font-bold text-white">{{packageDetails.name}}</h3>
                            </div>
                        </div>
                        <div class="mt-4">
                            <h3 class="text-xl font-semibold text-indigo-900">{{packageDetails.finalDestination}},
                                {{packageDetails.country}}</h3>
                            <div class="flex items-center mt-2">
                                <small class="text-yellow-400">★★★★☆</small>
                                <small class="ml-1 text-sm text-gray-600">4.0 (1299 ratings)</small>
                            </div>
                            <p class="mt-2 text-gray-600">{{packageDetails.description | truncate: 60}}</p>
                            <!-- <ul class="mt-4 space-y-2">
                                <li class="flex items-center" *ngFor="let item of packageDetails.included">
                                    <svg class="w-5 h-5 text-green-500 mr-2" fill="none" stroke="currentColor"
                                        viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                            d="M5 13l4 4L19 7"></path>
                                    </svg> {{item}}
                                </li>
                            </ul> -->
                            <div class="mt-4 flex items-center justify-between">
                                <div>
                                    <p class="text-3xl font-bold text-black">{{packageDetails.price | currency:'INR'}}
                                    </p>
                                </div>
                                <button type="button"
                                    class="bg-[#FFF1DA] text-[#656262] py-2 px-4 text-sm rounded-md font-bold hover:bg-[#ffdca4] transition duration-300 transform hover:scale-105 shadow-xl hover:shadow-2xl"
                                    (click)="viewDetails()">View
                                    Details</button>
                            </div>
                        </div>
                    </div>

                    <div class="bg-white p-8 rounded-xl shadow-xl transition-all duration-300"
                        *ngIf="coupons$ | async as coupons">
                        <h2 class="text-3xl font-semibold mb-5 text-orange-700 flex items-center">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-10 w-10 mr-3 text-orange-700" fill="none"
                                viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M7 7h10v10M7 17l10-10" />
                            </svg>
                            Available Coupons
                        </h2>
                        <div *ngFor="let coupon of coupons | slice:0:2"
                            class="bg-gradient-to-r from-orange-100 to-yellow-200 text-orange-800 font-semibold p-4 mt-1 mb-2 rounded-md shadow-sm flex flex-col space-y-2 hover:shadow-md transition-transform duration-300">
                            <div class="flex items-center justify-between">
                                <small class="uppercase text-xs font-semibold">{{ coupon.code }}</small>
                                <button
                                    class="bg-orange-500 text-white text-sm font-medium py-1 px-3 rounded hover:bg-orange-600 transition-colors duration-200"
                                    type="button" (click)="applyCoupon(coupon._id, packageDetails.price)">
                                    Apply
                                </button>
                            </div>

                            <p class="text-sm text-gray-700">{{ coupon.description }}</p>
                            <div class="flex items-center justify-between text-xs text-gray-600">
                                <small *ngIf="coupon.discount_type === 'percentage'">
                                    Discount: {{ coupon.percentage }}%
                                </small>
                                <small *ngIf="coupon.discount_type === 'fixed'">
                                    Discount: {{ coupon.discount_value | currency:'INR' }}
                                </small>
                                <small>Min Purchase: {{ coupon.minAmt | currency:'INR' }}</small>
                                <small>Expires on: {{ coupon.expiry_date | date:'MM/dd/yyyy' }}</small>
                            </div>
                        </div>
                        <p *ngIf="coupons.length > 2 && !showAllCoupons" (click)="showAllCoupons = true"
                            class="text-indigo-600 text-sm cursor-pointer hover:underline mt-4">
                            View All Coupons
                        </p>
                        <div *ngIf="showAllCoupons" class="mt-4 space-y-3">
                            <div *ngFor="let coupon of coupons.slice(2)"
                                class="bg-gradient-to-r from-orange-100 to-yellow-200 text-orange-800 font-semibold p-4 rounded-md shadow-sm flex flex-col space-y-2 hover:shadow-md transition-transform duration-300">
                                <div class="flex items-center justify-between">
                                    <small class="uppercase text-xs font-semibold">{{ coupon.code }}</small>
                                    <button type="button"
                                        class="bg-orange-500 text-white text-sm font-medium py-1 px-3 rounded hover:bg-orange-600 transition-colors duration-200"
                                        (click)="applyCoupon(coupon._id, packageDetails.price)">
                                        Apply
                                    </button>
                                </div>
                                <p class="text-sm text-gray-700">{{ coupon.description }}</p>
                                <div class="flex items-center justify-between text-xs text-gray-600">
                                    <small *ngIf="coupon.discount_type === 'percentage'">
                                        Discount: {{ coupon.percentage }}%
                                    </small>
                                    <small *ngIf="coupon.discount_type === 'fixed'">
                                        Discount: {{ coupon.discount_value | currency:'INR' }}
                                    </small>
                                    <small>Min Purchase: {{ coupon.minAmt | currency:'INR' }}</small>
                                    <small>Expires on: {{ coupon.expiry_date | date:'MM/dd/yyyy' }}</small>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div [ngClass]="showPolicy ? 'bg-white p-6 rounded-lg shadow-lg max-w-md mx-auto' :''">
                        <button type="button" [ngClass]="showPolicy ? 'text-black':'text-[#FF7D68]'"
                            (click)="showPolicy = !showPolicy" class="font-semibold hover:underline">
                            Cancellation Policy
                        </button>
                        <div *ngIf="showPolicy" class="mt-4">
                            <ul class="space-y-3 text-sm text-gray-700">
                                <li>
                                    <small class="font-semibold text-[#FF7D68]">Within 24 hours:</small> Full refund
                                    available.
                                </li>
                                <li>
                                    <small class="font-semibold text-[#FF7D68]">3-7 days before:</small> 50% refund.
                                </li>
                                <li>
                                    <small class="font-semibold text-[#FF7D68]">48 hours or less:</small>
                                    Non-refundable.
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="bg-white p-6 rounded-lg shadow-lg">
                        <h2 class="text-2xl font-semibold mb-4 text-[#656262]">Payment Summary</h2>
                        <div class="flex justify-between">
                            <small class="text-gray-700">Total Price:</small>
                            <small class="text-gray-900">{{ packageDetails.price | currency:'INR' }}</small>
                        </div>
                        <div class="flex justify-between">
                            <small class="text-gray-700">Service charge:</small>
                            <small class="text-gray-900">+ 50</small>
                        </div>
                        <div class="flex justify-between">
                            <small class="text-green-600" *ngIf="discount">Discount:</small>
                            <small class="text-green-600" *ngIf="discount">- {{ discount | currency:'INR' }}</small>
                        </div>
                        <div class="flex justify-between">
                            <small class="text-green-600" *ngIf="packageDetails.offerId">offer:</small>
                            <small class="text-green-600" *ngIf="packageDetails.offerId">- {{
                                packageDetails.offerId.discount_type === 'fixed' ? '₹' +
                                packageDetails.offerId.discount_value
                                : packageDetails.offerId.percentage + '%' }}</small>
                        </div>
                        <div class="flex justify-between mb-4">
                            <small class="text-gray-700 font-bold">Final Price:</small>
                            <small class="font-bold text-green-500" *ngIf="discoundedPrice">{{ discoundedPrice|
                                currency:'INR' }}</small>
                            <small class="font-bold text-green-500" *ngIf="!discoundedPrice">
                                {{packageDetails.price| discount: packageDetails.offerId | currency:'INR'}}
                            </small>
                        </div>
                        <div>
                            <small class="text-green-500 font-bold" *ngIf="discoundedPrice">You saved ₹{{discount}} on
                                this order🎉</small>
                            <button type="button"
                                class="text-red-500 border border-red-500 bg-white hover:text-white hover:bg-red-500 rounded-full px-2 ml-10"
                                *ngIf="discoundedPrice" (click)="cancelCoupon()">X</button>
                        </div>
                    </div>
                    <small class="text-red-500" *ngIf="invalidForm">Fill required field</small>
                    <button type="submit"
                        class="w-full bg-[#FF7D68] text-white py-3 px-4 rounded-md hover:bg-[#ff674f] transition duration-300 text-lg font-semibold">Book
                        Your Adventure
                    </button>
                </div>
            </div>
        </form>
    </main>
</div>