:host {
  display: block;
}
@keyframes pulse {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
}
.grid > div:hover {
  animation: pulse 2s infinite;
}
