<div class="bg-gray-100 p-8 rounded-lg shadow-lg w-96">
    <h2 class="text-2xl font-semibold text-center mb-6">Verify OTP</h2>
  
    <form [formGroup]="otpForm" (ngSubmit)="onFormSubmit()">
      <div class="mb-6">
        <p class="text-b mb-4 text-xs text-center">We sent an OTP to <b>{{ email | maskEmail }}</b></p>
        <label for="otp" class="block text-gray-400 text-sm mb-2">Enter OTP</label>
        <input id="otp" type="text" formControlName="otp"
               class="w-full p-2 bg-gray-300 border rounded-md focus:outline-none focus:ring-2 focus:ring-gray-300"
               placeholder="4-digit OTP">
        <div *ngIf="submitted && otpControl?.invalid" class="text-red-500 text-sm mt-1">
          <small *ngIf="otpControl?.errors?.['required']">OTP is required.</small>
          <small *ngIf="otpControl?.errors?.['minlength'] || otpControl?.errors?.['maxlength']">OTP must be 4 digits.</small>
        </div>
      </div>
  
      <button type="submit"
              class="w-full bg-gray-600 text-white py-2 rounded-md hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-gray-300">
        Verify OTP
      </button>
    </form>
  
    <div class="mt-4 text-center">
      <p class="text-teal-400" *ngIf="timeLeft">OTP expires in <b>{{ timeLeft }}</b> sec</p>
      <a (click)="resendOtp()" 
         [class.cursor-not-allowed]="!isResendEnabled" 
         [class.text-teal-400]="isResendEnabled" 
         [class.text-gray-400]="!isResendEnabled" 
         class="hover: cursor-pointer">Resend OTP</a>
    </div>
  </div>
  