<div class="flex h-screen bg-[#F1F1F2]">
    <app-side-bar></app-side-bar>
    <div class="flex-1 flex flex-col overflow-hidden">
        <app-header></app-header>
        <main class="flex-1 overflow-y-auto bg-[#F1F1F2] p-6 sm:p-4 relative">
            <div class="flex justify-end items-end mx-auto p-5">
                <button class="bg-[#E64833] text-white px-4 py-2 rounded-lg hover:bg-[#fc6955] transition duration-200">
                    Cancel
                </button>
            </div>
            <div class="luxury-form-container relative">
                <form class="grid grid-cols-1 lg:grid-cols-2 gap-6" [formGroup]="offerForm" (ngSubmit)="onSubmit()">
                    <div class="form-field relative">
                        <input type="text" id="offerName" class="form-input" formControlName="offerName"
                            aria-describedby="offerNameError" />
                        <label for="offerName" class="floating-label">Offer Name</label>
                        <div *ngIf="offerForm.get('offerName')?.touched && offerForm.get('offerName')?.invalid"
                            id="offerNameError">
                            <small *ngIf="offerForm.get('offerName')?.errors?.['required']"
                                class="text-red-700 text-sm">
                                Offer name is required*
                            </small>
                            <small *ngIf="offerForm.get('offerName')?.errors?.['minlength']"
                                class="text-red-700 text-sm">
                                Offer name must have at least 4 characters*
                            </small>
                        </div>
                    </div>
                    <div class="form-field relative">
                        <select id="offerType" class="form-input" formControlName="offerType"
                            aria-describedby="offerTypeError">
                            <option value="" disabled selected>Select Offer Type</option>
                            <option value="percentage">Percentage</option>
                            <option value="fixed">Fixed</option>
                        </select>
                        <label for="offerType" class="floating-label">Offer Type</label>
                        <div *ngIf="offerForm.get('offerType')?.touched && offerForm.get('offerType')?.invalid"
                            id="offerTypeError">
                            <small *ngIf="offerForm.get('offerType')?.errors?.['required']"
                                class="text-red-700 text-sm">
                                Offer type is required*
                            </small>
                        </div>
                    </div>
                    <div class="form-field relative col-span-1 lg:col-span-2">
                        <textarea id="description" class="form-input" formControlName="description" rows="3"
                            aria-describedby="descriptionError"></textarea>
                        <label for="description" class="floating-label">Description</label>
                        <div *ngIf="offerForm.get('description')?.touched && offerForm.get('description')?.invalid"
                            id="descriptionError">
                            <small *ngIf="offerForm.get('description')?.errors?.['required']"
                                class="text-red-700 text-sm">
                                Description is required*
                            </small>
                            <small *ngIf="offerForm.get('description')?.errors?.['minlength']"
                                class="text-red-700 text-sm">
                                Description must have at least 10 characters*
                            </small>
                        </div>
                    </div>
                    <div class="form-field relative">
                        <input type="date" id="expiryDate" class="form-input" formControlName="expiryDate"
                            aria-describedby="expiryDateError" />
                        <label for="expiryDate" class="floating-label">Expiry Date</label>
                        <div *ngIf="offerForm.get('expiryDate')?.touched && offerForm.get('expiryDate')?.invalid"
                            id="expiryDateError">
                            <small *ngIf="offerForm.get('expiryDate')?.errors?.['required']"
                                class="text-red-700 text-sm">
                                Expiry date is required*
                            </small>
                            <small *ngIf="offerForm.get('expiryDate')?.errors?.['invalidDate']"
                                class="text-red-700 text-sm">
                                Expiry date must be a future date*
                            </small>
                        </div>
                    </div>
                    <div class="form-field relative" *ngIf="offerForm.get('offerType')?.value === 'percentage'">
                        <input type="number" id="percentage" class="form-input" formControlName="percentage"
                            aria-describedby="percentageError" />
                        <label for="percentage" class="floating-label">Percentage</label>
                        <div *ngIf="offerForm.get('percentage')?.touched && offerForm.get('percentage')?.invalid"
                            id="percentageError">
                            <small *ngIf="offerForm.get('percentage')?.errors?.['required']"
                                class="text-red-700 text-sm">
                                Percentage is required*
                            </small>
                            <small *ngIf="offerForm.get('percentage')?.errors?.['min']" class="text-red-700 text-sm">
                                Percentage must be at least 1%*
                            </small>
                        </div>
                    </div>
                    <div class="form-field relative" *ngIf="offerForm.get('offerType')?.value === 'fixed'">
                        <input type="number" id="discount_value" class="form-input" formControlName="discount_value"
                            aria-describedby="discount_valueError" />
                        <label for="discount_value" class="floating-label">Discount</label>
                        <div *ngIf="offerForm.get('discount_value')?.touched && offerForm.get('discount_value')?.invalid"
                            id="discount_valueError">
                            <small *ngIf="offerForm.get('discount_value')?.errors?.['required']"
                                class="text-red-700 text-sm">
                                Discount is required*
                            </small>
                            <small *ngIf="offerForm.get('discount_value')?.errors?.['min']"
                                class="text-red-700 text-sm">
                                Discount must be at least 1*
                            </small>
                        </div>
                    </div>
                    <div class="form-field relative col-span-1 lg:col-span-2">
                        <button type="submit" class="submit-btn" [ngStyle]="{
                                'background': isNotValidForm
                                    ? 'linear-gradient(135deg, #ff4d4d, #ff1a1a)'
                                    : 'linear-gradient(135deg, #90AEAD, #244855)'
                            }">
                            Create Offer
                        </button>
                    </div>
                </form>
            </div>
        </main>
    </div>
</div>