<div class="flex h-screen bg-[#F1F1F2]">
    <app-side-bar></app-side-bar>
    <div class="flex-1 flex flex-col overflow-hidden">
        <app-header></app-header>
        <main class="flex-1 overflow-y-auto bg-[#F1F1F2] p-6 sm:p-4 relative">
            <div class="flex justify-end items-end mx-auto p-5">
                <button class="bg-[#E64833] text-white px-4 py-2 rounded-lg hover:bg-[#fc6955] transition duration-200">
                    Cancel
                </button>
            </div>
            <div class="luxury-form-container relative">
                <form class="grid grid-cols-1 lg:grid-cols-2 gap-6" *ngIf="offerForm" [formGroup]="offerForm" (ngSubmit)="onSubmit()">
                    <div class="form-field relative">
                        <input type="text" id="title" class="form-input" formControlName="title"
                            aria-describedby="titleError" />
                        <label for="title" class="floating-label">Offer Name</label>
                        <div *ngIf="offerForm.get('title')?.touched && offerForm.get('title')?.invalid" id="titleError">
                            <small *ngIf="offerForm.get('title')?.errors?.['required']" class="text-red-700 text-sm">
                                Offer name is required*
                            </small>
                            <small *ngIf="offerForm.get('title')?.errors?.['minlength']" class="text-red-700 text-sm">
                                Offer name must have at least 4 characters*
                            </small>
                            <small *ngIf="offerForm.get('title')?.errors?.['invalidCoupon']"
                                class="text-red-700 text-sm">
                                Invalid offer name*
                            </small>
                        </div>
                    </div>
                    <div class="form-field relative">
                        <select id="discount_type" class="form-input" formControlName="discount_type"
                            aria-describedby="discount_typeError">
                            <option value="" disabled selected>Select Offer Type</option>
                            <option value="percentage">Percentage</option>
                            <option value="fixed">Fixed</option>
                        </select>
                        <label for="discount_type" class="floating-label">Offer Type</label>
                        <div *ngIf="offerForm.get('discount_type')?.touched && offerForm.get('discount_type')?.invalid"
                            id="discount_typeError">
                            <small *ngIf="offerForm.get('discount_type')?.errors?.['required']"
                                class="text-red-700 text-sm">
                                Offer type is required*
                            </small>
                        </div>
                    </div>
                    <div class="form-field relative col-span-1 lg:col-span-2">
                        <textarea id="description" class="form-input" formControlName="description" rows="3"
                            aria-describedby="descriptionError"></textarea>
                        <label for="description" class="floating-label">Description</label>
                        <div *ngIf="offerForm.get('description')?.touched && offerForm.get('description')?.invalid"
                            id="descriptionError">
                            <small *ngIf="offerForm.get('description')?.errors?.['required']"
                                class="text-red-700 text-sm">
                                Description is required*
                            </small>
                            <small *ngIf="offerForm.get('description')?.errors?.['invalidDescription']"
                                class="text-red-700 text-sm">
                                Description
                                must be 20-500 characters long and may only include letters, numbers, spaces, and common
                                punctuation (.
                                , ' ! ? -)*
                            </small>
                        </div>
                    </div>
                    <div class="form-field relative">
                        <input type="date" id="expiry_date" class="form-input" formControlName="expiry_date"
                            aria-describedby="expiry_dateError" />
                        <label for="expiry_date" class="floating-label">Expiry Date</label>
                        <div *ngIf="offerForm.get('expiry_date')?.touched && offerForm.get('expiry_date')?.invalid"
                            id="expiry_dateError">
                            <small *ngIf="offerForm.get('expiry_date')?.errors?.['required']"
                                class="text-red-700 text-sm">
                                Expiry date is required*
                            </small>
                            <small *ngIf="offerForm.get('expiry_date')?.errors?.['invalidDate']"
                                class="text-red-700 text-sm">
                                Expiry date must be a future date*
                            </small>
                        </div>
                    </div>
                    <div class="form-field relative" *ngIf="offerForm.get('discount_type')?.value === 'percentage'">
                        <input type="number" id="percentage" class="form-input" formControlName="percentage"
                            aria-describedby="percentageError" />
                        <label for="percentage" class="floating-label">Percentage</label>
                        <div *ngIf="offerForm.get('percentage')?.touched && offerForm.get('percentage')?.invalid"
                            id="percentageError">
                            <small *ngIf="offerForm.get('percentage')?.errors?.['required']"
                                class="text-red-700 text-sm">
                                Percentage is required*
                            </small>
                            <small *ngIf="offerForm.get('percentage')?.errors?.['min']" class="text-red-700 text-sm">
                                Percentage must be at least 1*
                            </small>
                            <small *ngIf="offerForm.get('percentage')?.errors?.['max']" class="text-red-700 text-sm">
                                Percentage must be at most 99*
                            </small>
                        </div>
                    </div>
                    <div class="form-field relative" *ngIf="offerForm.get('discount_type')?.value === 'fixed'">
                        <input type="number" id="discount_value" class="form-input" formControlName="discount_value"
                            aria-describedby="discount_valueError" />
                        <label for="discount_value" class="floating-label">Discount</label>
                        <div *ngIf="offerForm.get('discount_value')?.touched && offerForm.get('discount_value')?.invalid"
                            id="discount_valueError">
                            <small *ngIf="offerForm.get('discount_value')?.errors?.['required']"
                                class="text-red-700 text-sm">
                                Discount is required*
                            </small>
                            <small *ngIf="offerForm.get('discount_value')?.errors?.['min']"
                                class="text-red-700 text-sm">
                                Discount must be at least 1*
                            </small>
                        </div>
                    </div>
                    <div class="form-field relative col-span-1 lg:col-span-2">
                        <button type="submit" class="submit-btn" [ngStyle]="{
                                'background': isNotValidForm
                                    ? 'linear-gradient(135deg, #ff4d4d, #ff1a1a)'
                                    : 'linear-gradient(135deg, #90AEAD, #244855)'
                            }">
                            Create Offer
                        </button>
                    </div>
                </form>
            </div>
        </main>
    </div>
</div>